*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1450px;
     margin: auto;
     display: flex;
    justify-content: space-between;
}
header{
    margin: 30px 0px;
    height: 50px;
    padding: 0 50px;

}
a{
    text-decoration: none;
    cursor: pointer;
}

.dropbtn {
    color:white;
    font-size: 16px;
    border: none;
    cursor: pointer;

    
}
.dropdown {
    position: relative;
    display: inline-block;
    background-color: red;
    color: white;
    width: 211px;
    height: 46px;
    text-align: center;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
}
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: red;
    width: 211px;
    height: 46px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}
.dropdown-content a:hover {
    background-color: white;
    color: black;

}
.dropdown:hover .dropdown-content {
    display: block;
}
nav{
    display: flex;
    justify-content: space-between;
   align-items: center;

}
nav a{
    padding: 0px 20px;
    color: black;
}
.call{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.lng{
display: flex;
align-items: center;
}


.main-1{
    background-image: url(_images/page-1/01-slider-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 600px;
    justify-content: flex-end;
    border-bottom: 1px solid red;
}
.gradient{
    display: flex;
    width: 50%;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(255, 255, 255));
    height: 599px;
    align-items: center;


}

.text{
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 120px;
}
h1{
    font-size: 50px;
}
h4{
    color: white;
    background-color: red;
    margin-top: 15px;
    width: 180px;
    text-align: center;
}

.main-2{
    height:400px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid red;

}
.left{
    width: 50%;
    text-align: end;
    padding: 150px;
}
.right{
    width: 30%;
}
.right a, .left-2 a {
color: red;
text-decoration: underline;
}
.left-2{
    width: 50%;
    text-align: start;
    padding: 150px;
}
.right-2{
    width: 50%;
    height: 100%;

}
.main-3{
    height:360px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid red;
}
.main-4{
    background-image: url(_images/page-1/04-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
    padding-top: 20px;
    color:white

}
footer{
    height: 100px;
    margin: auto;   
    background-color:rgb(46,46,46);

}
.footer{
    height: 100px;
    background-color:rgb(46,46,46);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    margin: auto;
    padding: 0 50px;

}
.footer a{
    color: white;
    padding: 30px;
}


.text-1a{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    height: 150px;
    align-items: left;
    background-image: linear-gradient(180deg, rgba(243,243,243), rgb(255, 255, 255));

}
#txt{
    margin: auto;
}

.main-2a{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    margin-top: 30px;
}

.check-1{
    width: 50%;
    border-right: 1px solid gray;

}
.check-1a{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.check-2{
    width: 50%;
}
.check-2a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.pattern{
    height: 50px;
    width: 100%;
    background-image: url(_graphics/icons/pattern.png);
    background-repeat: repeat;
}
.main-3a{
    display: flex;
    justify-content: center;
    text-align: center;
}
.main-2b{
    display: flex;
    align-content: center;
    justify-content: center;
}
.main-3b{
    width: 1000px;
    margin: auto;
}