*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1450px;
     margin: auto;
     display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;

}
header{
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    background-color: white;
       z-index: 1;
}
a {
    text-decoration: none !important;
    cursor: pointer;
}

.active{
    color: red !important;    
    text-decoration: underline !important;

}

p{
    margin-bottom: 0px;
}

.dropbtn {
    color:white;
    font-size: 16px;
    border: none;
    cursor: pointer;  
    padding-left: 40px;  
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    background-color: red;
    color: white;
    width: 211px;
    height: 46px;
    text-align: center;   
}
.dropdown-img{
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    border-right: 1px solid white;
}
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top:46px;
}
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: red;
    width: 211px;
    height: 46px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.door{
    height: 35px;
}
.dropdown-content a:hover {
    background-color: white;
    color: black;

}
.dropdown:hover .dropdown-content {
    display: block;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav a{
    padding: 0px 20px;
    color: black;
    text-decoration: none;
}

.call {
    display: flex;
    align-items: flex-start;
}

.phone{
    background-color: gray;
    width: 45px;
    height: 45px;
    background-image: url(_graphics/icons/phone.png);
    background-repeat: no-repeat;
    background-position: center;
}
.number{
    padding-left: 8px;
}
.lng{
display: flex;
align-items: center;
}


.main-1{
    background-image: url(_images/page-1/01-slider-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 600px;
    justify-content: flex-end;
    border-bottom: 1px solid red;
}
.gradient{
    display: flex;
    width: 50%;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(255, 255, 255));
    height: 599px;
    align-items: center;


}

.text{
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 120px;
}
h1{
    font-size: 50px;
}
h4{
    color: white;
    background-color: red;
    margin-top: 15px;
    width: 180px;
    text-align: center;
    padding: 10px;
}

.main-2{
    height:400px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid red;

}
.left{
    width: 50%;
    text-align: end;
    padding: 150px;
}
.right{
    width: 30%;
}
.right a, .left-2 a {
color: red;
text-decoration: underline;
}
.left-2{
    width: 50%;
    text-align: start;
    padding: 150px;
}
.right-2{
    width: 50%;
    height: 100%;
    background-image: url(_images/page-1/03-image.png);

}
.main-3{
    height:360px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid red;
}
.main-4{
    background-image: url(_images/page-1/04-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
    padding-top: 20px;
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.map-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-cta{
    background-color: white;
    color: black;
    width: 150px;
    height: 50px;
    padding: 15px;
}
footer{
    height: 100px;
    margin: auto;   
    background-color:rgb(46,46,46);
}
footer p{
    font-size: 10px;
    text-align: center;
}
.footer{
    height: 100px;
    background-color:rgb(46,46,46);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    margin: auto;
    padding: 0 50px;

}
.footer a{
    color: white;
    padding: 30px;
}
.footer-end{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.text-1a{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    height: 150px;
    background-image: linear-gradient(180deg, rgba(243,243,243), rgb(255, 255, 255));
    z-index: 1;

}
#txt{
    margin: auto;
    padding-left: 140px;
}
.main-1a{
    height: 280px;
    padding-top: 100px;
}

.header-img{
    background-image: url(_images/page-2/01-header-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;

}
.main-2a{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    margin-top: 30px;
}

.check-1{
    width: 50%;
    border-right: 1px solid gray;
    text-align: center;

}
.check-1a{
    
    display: flex;
    justify-content: space-evenly;
    padding-left:220px


}

.check-2{
    width: 50%;
}
.check-2-txt{
    padding-left: 60px;
    padding-top: 20px;
}
.check-2a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

}

.pattern{
    height: 50px;
    width: 100%;
    background-image: url(_graphics/icons/pattern.png);
    background-repeat: repeat;
}
.main-3a{
    display: flex;
    justify-content: center;
    text-align: center;
}
.main-1b{
    padding-top: 100px;
}
.main-2b{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;


}
.main-3b{
    width: 1000px;
    margin: auto;
    padding-top: 30px;
}
.buttons{
    display: flex;
    padding-bottom: 60px;
}
.drzava{
    display: flex;
    margin-right: 115px;
}
.tip{
    display: flex;
}
.main-4b{
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maincta{
    color: white;
    background-color: red;
    width: 100px;
    margin-bottom: 100px;
}
.red{
    color: red;
}
  #map {
    height: 100%;
    width: 100%;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  
  #ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
}

#ck-button:hover {
    background:red;
}

#ck-button label {
    float:left;
    width:6.0em;
    height: 1.4em;
}

#ck-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

#ck-button label input {
    position:fixed;
    top:-20px;
}

#ck-button input:checked + span {
    background-color:#911;
    color:#fff; 
}


  @media only screen and (max-width:768px){
      
  }